In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\nilay\anaconda3\lib\site-packages (2.8.0)
Requirement already satisfied: setuptools in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: h5py>=2.9.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: flatbuffers>=1.12 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: gast>=0.2.1 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (3.20.1)
Requirement already satisfied: numpy>=1.20 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: libclang>=9.0.1 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (14.0.1)
Requirement already satisfied: six>=1.12.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: tensorboard<2.9,>=2.8 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.46.0)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (0.25.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\nilay\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\nilay\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\nilay\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.7)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\nilay\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.6.6)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\nilay\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\nilay\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\nilay\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\nilay\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\nilay\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (5.0.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\nilay\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\nilay\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\nilay\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\nilay\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\nilay\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nilay\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nilay\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\nilay\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nilay\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\nilay\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [33]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense
import pandas as pd

In [14]:
df=pd.read_csv("Admission_Predict.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [15]:
df.drop("Serial No.",axis=1,inplace=True)

In [16]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [27]:
df.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [18]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [24]:
X=df.iloc[:,0:-1]
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [25]:
y=df.iloc[:,7:]
y

     Chance of Admit
0                0.92
1                0.76
2                0.72
3                0.80
4                0.65
..                ...
395              0.82
396              0.84
397              0.91
398              0.67
399              0.95

[400 rows x 1 columns]

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
scaler =MinMaxScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [78]:
#ANN model biluding
model=Sequential()
layer1=Dense(units=10, activation='relu',input_dim=7)
layer2=Dense(units=1, activation='linear')

In [79]:
model.add(layer1)
model.add(layer2)
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 10)                80

 dense_20 (Dense)            (None, 1)                 11

=================================================================
Total params: 91
Trainable params: 91
Non-trainable params: 0
_________________________________________________________________

In [80]:
model.layers[0].get_weights()

[array([[-0.282177  ,  0.1999371 ,  0.34324968,  0.1079303 ,  0.13249469,
         -0.14520857, -0.0034855 , -0.56007713,  0.30178106, -0.08096963],
        [ 0.20551002,  0.34412742,  0.31836772,  0.3648755 ,  0.096196  ,
         -0.0548709 , -0.2568186 ,  0.04097825,  0.17935318,  0.04049182],
        [ 0.4497137 ,  0.4682144 , -0.422458  , -0.1708099 , -0.13782477,
         -0.36018592,  0.28700387, -0.2781504 ,  0.02957255, -0.00579542],
        [ 0.1368674 ,  0.5897393 ,  0.03001601,  0.0281319 ,  0.2589075 ,
          0.10114777,  0.519711  ,  0.39875185, -0.07005376, -0.37027305],
        [-0.42847747, -0.4511587 ,  0.26476383,  0.4232211 ,  0.47006154,
         -0.26510364, -0.08838415, -0.3871253 ,  0.07426518,  0.3462761 ],
        [-0.49714595,  0.23424375,  0.03411698,  0.41049433, -0.35552433,
         -0.5121562 ,  0.11136585,  0.36207515,  0.22185731,  0.01200014],
        [ 0.30715   , -0.48860624, -0.34023255,  0.3260879 , -0.24598584,
         -0.00352347,  0.15138358,  0.4473529 , -0.5744821 ,  0.26739937]],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)]

In [81]:
model.compile(loss='mean_absolute_error',optimizer="SGD")

In [82]:
result=model.fit(X_train_scaled,y_train, verbose=1,epochs=5)

Epoch 1/5
10/10 [==============================] - 0s 2ms/step - loss: 0.9035
Epoch 2/5
10/10 [==============================] - 0s 2ms/step - loss: 0.3640
Epoch 3/5
10/10 [==============================] - 0s 2ms/step - loss: 0.1364
Epoch 4/5
10/10 [==============================] - 0s 2ms/step - loss: 0.1067
Epoch 5/5
10/10 [==============================] - 0s 2ms/step - loss: 0.0915

In [83]:
model.layers[0].get_weights()

[array([[-0.28691283,  0.20927888,  0.41529897,  0.03414854,  0.1197897 ,
         -0.14520857,  0.04592289, -0.55443186,  0.3076873 , -0.11752681],
        [ 0.2005326 ,  0.35361663,  0.39015675,  0.29078668,  0.08291492,
         -0.0548709 , -0.20758612,  0.04665834,  0.18545464,  0.00395338],
        [ 0.4442827 ,  0.47622097, -0.36136377, -0.23556474, -0.1476569 ,
         -0.36018592,  0.3293158 , -0.27288708,  0.03410013, -0.03984628],
        [ 0.13176043,  0.5979736 ,  0.09511348, -0.04121877,  0.24746206,
          0.10114777,  0.56420356,  0.40432876, -0.06582739, -0.40667555],
        [-0.43333793, -0.44138706,  0.3430261 ,  0.3419875 ,  0.45258668,
         -0.26510364, -0.03440491, -0.38095447,  0.08046341,  0.3041554 ],
        [-0.50207186,  0.24376012,  0.10855657,  0.33355775, -0.36888707,
         -0.5121562 ,  0.16256556,  0.36799684,  0.22794597, -0.02604468],
        [ 0.29919595, -0.47096622, -0.2139755 ,  0.203584  , -0.26977587,
         -0.00352347,  0.24207157,  0.45681423, -0.56533754,  0.21180733]],
       dtype=float32),
 array([-0.00796316,  0.01448932,  0.12039994, -0.12643106, -0.02237353,
         0.        ,  0.0826511 ,  0.00941872,  0.00845016, -0.06350249],
       dtype=float32)]

In [61]:
#ANN model biluding  model2
model2=Sequential()
layer1=Dense(units=10, activation='relu',input_dim=7)
layer2=Dense(units=5, activation='relu')
layer3=Dense(units=1, activation='linear')


model2.add(layer1)
model2.add(layer2)
model2.add(layer3)

model2.summary()

model2.layers[0].get_weights()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 10)                80

 dense_13 (Dense)            (None, 5)                 55

 dense_14 (Dense)            (None, 1)                 6

=================================================================
Total params: 141
Trainable params: 141
Non-trainable params: 0
_________________________________________________________________
Epoch 1/5
10/10 [==============================] - 0s 1ms/step - loss: 178.8884
Epoch 2/5
10/10 [==============================] - 0s 2ms/step - loss: 0.6241
Epoch 3/5
10/10 [==============================] - 0s 2ms/step - loss: 0.5241
Epoch 4/5
10/10 [==============================] - 0s 2ms/step - loss: 0.4241
Epoch 5/5
10/10 [==============================] - 0s 1ms/step - loss: 0.3261

[array([[-5.12737453e-01, -1.08977807e+00, -4.18535560e-01,
         -4.31221783e-01, -7.47614563e-01, -5.45495808e-01,
         -1.13032093e+01, -4.10232544e-02, -1.07557118e-01,
         -1.04415417e-03],
        [ 5.16945481e-01, -5.31101704e-01, -3.17341208e-01,
          5.37999272e-02, -5.62145531e-01, -1.74135208e-01,
         -3.83015919e+00, -4.88712341e-01, -1.83730692e-01,
         -5.79373121e-01],
        [ 1.80846930e-01,  3.48475948e-02, -1.59480236e-02,
          2.73069143e-01,  6.03274181e-02, -3.05373669e-01,
          3.61425459e-01, -2.73667008e-01, -1.62154168e-01,
         -2.74445206e-01],
        [ 5.16122699e-01,  3.13239872e-01, -2.59074956e-01,
         -1.59367800e-01, -2.21782610e-01,  1.01821125e-01,
          3.47050220e-01,  4.95077372e-02,  1.10305652e-01,
          2.80942321e-01],
        [-4.22572732e-01, -1.44563809e-01, -1.26775384e-01,
          1.83606386e-01,  1.83991387e-01, -3.61648917e-01,
          2.38828808e-02, -3.32991123e-01, -3.55017513e-01,
          4.91810203e-01],
        [-5.05100727e-01,  2.39365697e-01, -6.04686856e-01,
         -2.08232224e-01,  3.78615037e-03, -4.49348807e-01,
         -8.10864687e-01, -5.11384785e-01, -1.69660121e-01,
         -7.50742555e-02],
        [-1.44246250e-01, -8.65931287e-02,  3.88183564e-01,
          4.84900355e-01, -3.94844741e-01,  5.20202637e-01,
          2.08558857e-01,  4.19533491e-01,  3.99876684e-01,
         -3.14897507e-01]], dtype=float32),
 array([ 0.        , -0.00527208, -0.00156258,  0.        , -0.00339961,
         0.        , -0.03742921,  0.        , -0.00063257,  0.        ],
       dtype=float32)]

In [63]:
model2.compile(loss='mean_absolute_error',optimizer="SGD")

model2.fit(X_train,y_train,verbose=1,epochs=10)

Epoch 1/10
10/10 [==============================] - 0s 2ms/step - loss: 0.1703
Epoch 2/10
10/10 [==============================] - 0s 1ms/step - loss: 0.1337
Epoch 3/10
10/10 [==============================] - 0s 2ms/step - loss: 0.1188
Epoch 4/10
10/10 [==============================] - 0s 1ms/step - loss: 0.1131
Epoch 5/10
10/10 [==============================] - 0s 2ms/step - loss: 0.1114
Epoch 6/10
10/10 [==============================] - 0s 1ms/step - loss: 0.1110
Epoch 7/10
10/10 [==============================] - 0s 2ms/step - loss: 0.1108
Epoch 8/10
10/10 [==============================] - 0s 2ms/step - loss: 0.1108
Epoch 9/10
10/10 [==============================] - 0s 1ms/step - loss: 0.1107
Epoch 10/10
10/10 [==============================] - 0s 2ms/step - loss: 0.1110

In [ ]:


model2.layers[0].get_weights()